/* .new-product-card {
  width: 400px;
}

.info p,
h5,
h6 {
  color: gray;
}

@media screen and (max-width: 540px) {
  .new-product-card {
    width: 325px;
  }
}

@media screen and (max-width: 992px) {
  .new-product-card {
    width: 325px;
  }
}

@media screen and (max-width: 1024px) {
  .new-product-card {
    width: 325px;
  }
} */
